<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offway.common.mapper.TStylePhotosMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.offway.common.entity.TStylePhotos">
        <id column="photo_id" property="photoId" />
        <result column="create_time" property="createTime" />
        <result column="stat_style_id" property="statStyleId" />
        <result column="starimg_url" property="starimgUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        photo_id, create_time, stat_style_id, starimg_url
    </sql>

</mapper>
